Checks: >
  bugprone-*, cert-*, clang-analyzer-*, concurrency-*,
  cppcoreguidelines-*, google-*, hicpp-*, linuxkernel-*,
  misc-*, modernize-*, performance-*, portability-*,
  readability-*,
  -misc-include-cleaner,
  -readability-identifier-length

WarningsAsErrors: >
  bugprone-*, cert-*, clang-analyzer-*, concurrency-*,
  cppcoreguidelines-*, google-*, hicpp-*, linuxkernel-*,
  misc-*, modernize-*, portability-*,
  readability-*,
  -misc-include-cleaner,
  -readability-identifier-length